<div class="container">
  <h1>Pick a deck!</h1>
  <p>P.S. Only 'Capital Cities of the World' is available. More decks coming soon!</p>


  <a href='http://127.0.0.1:9393/game_home'>Capital Cities of the World</a><br>
  <p><u>Capital Cities of Malaysian States</u> (coming soon!)<p>
  <p><u>Samuel L. Jackson Movies</u> (coming soon!)<p>
  <p><u>David Letterman's Favourite Foods</u> (coming soon!)<p>



  <p><a href= "/logout">LOG OUT to sign into a different account</a></p>
</div>


