<h1>Sign-up now to play!</h1>


<p>Please make sure to fill out all the fields!</p>

<form action="/signup" method="post">
USERNAME: <input type="text" name="user[username]"><br>
PASSWORD:  <input type="password" name="user[password]"><br>
<br>
  <input type="submit" value="CONFIRM">
</form>

